.border-color {
  border-color: grey;
  border-radius: 5px;
}

.icon-sizing {
  font-size: 2rem;
}

#modal-basic-title {
  font-size: 2rem;
  font-weight: 500;
}

.button {
  background-color: white;
  border: none;
}

.x-button {
  font-size: 1.3rem;
  color: lightskyblue;
}

.bolder {
  font-weight: 500;
}

.bigger {
  font-size: 1.3rem;
}
