<div class="container">
  <div class="row justify-content-center pt-5 pb-4">
    <div class="col-9">
      <p class="watchlist-header">My Watchlist</p>
    </div>
  </div>
  <div *ngIf="isLoading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <div
    *ngIf="watchlist.length; else error"
    class="row justify-content-center p-0"
  >
    <div class="row justify-content-center">
      <div class="col-9 ps-0">
        <div *ngFor="let watchlistItem of watchlist">
          <app-watchlist-item
            [watchlistItem]="watchlistItem"
            (itemDeleted)="onItemDelete()"
          ></app-watchlist-item>
        </div>
      </div>
    </div>
  </div>
  <ng-template #error>
    <div class="row justify-content-center">
      <div class="col-9">
        <div class="alert alert-warning text-center">
          Currently you don't have any stock in your watchlist.
        </div>
      </div>
    </div>
  </ng-template>
</div>
